<div>
  <h1>
    Products
  </h1>

  <form>
    <input type="number" name="id" id="id" placeholder="Product id" />
    <input type="text" name="title" id="title" placeholder="Product title" />
    <input
      type="text"
      name="description"
      id="description"
      placeholder="Produt description"
    />
    <input type="number" name="price" id="price" placeholder="Product price" />
    <input type="number" name="stock" id="stock" placeholder="Product stock" />
    <input type="text" name="status" id="status" placeholder="Product status" />
    <input type="submit" value="Send" />
  </form>

  <h2>Product list </h2>
  <div id="products"></div>

  {{! <table>
    <tr>
      <th>Id</th>
      <th>User id</th>
      <th>Title</th>
      <th>Body</th>
    </tr>
  </table> }}

  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/main.js"></script>
</div>